body {
	
}


/*
 * User registration
 */

.form_item {
	width: 450px;
	clear: both;
	padding: 5px 15px;
}
.form_item label {
	width: 200px;
	float: left;
}
.form_item .error {
	margin: 0 0 0 200px;
	font-size: 12px;
	color: red;
	width: 165px;
}
